<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/drum-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>طبل لي</title>
</head>

<body>
    <div class="Q">
        <div class="question">
        </div>
        <br>
        <br>
        <br>
        <div>
            <input dir="rtl" placeholder="....." type="text" class="textBox" />

        </div>
        <button id="send" class="btn">ارسل</button>
        <br>
        <br>
        <br>
        <div class="hide writeOrder"></div>
        <button class="btn" id="genderBtn">d</button>
    </div>
    <div class="hide result">
        <h4></h4>
        <br>
        <br>
        <br>
        <button id="back" class="btn">رجوع</button>

    </div>
</body>
<script src="/script/words.js"></script>
<script src="/script/index.js"></script>

</html>